<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Cabecera fija</title>

        <link rel="stylesheet" href="/assets/style2.css">
</head>

<body>

	<header id="main-header">

		<a id="logo-header" href="#">
			<span class="site-name">Usuario: Usted aún no se ha logueado</span>
			<span class="site-desc"> //  </span>
		</a>

		<nav>
			<ul>
			</ul>
		</nav>

	</header>

	<%= yield %>

	<footer id="main-footer">
		<p>&copy; 2017 <a href="https://www.uhispanoamericana.ac.cr">Universidad Hispanoamericana</a></p>
	</footer>

</body>
</html>
